<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vehiculos</title>
    <link rel="stylesheet" href="css/categoriascompra.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>

<body>

    <header id="encabezado">
        <div class="nav">
            <input type="checkbox">
              <span></span>
              <span></span>
              <div class="menu">
                <li><a href="/vistacomprador">volver</a></li>
              </div>
          </div>
        <div class="cuadro">
            <p></p>
            <img src="img/logo_small_icon_only.png" alt="">
            <a href="cerrar">Cerrar sesion</a>
        </div>
        </div>
    </header>

<!--TABLA DE CATEGORIAS-->
<section class="tabladatos">
<table class="datos">
      
    <thead>
      <tr>      
        <th colspan="2" scope="rowgroup" class="tit-cate">Categorias</th>  
      </tr>
    </thead>
  
    <tbody>
      <tr class="cuadros">
        <td>Camionetas</td>
        <td><button><a href="/catecamioneta">Ver mas</a></button></td>
    </tr>

      <tr class="cuadros">
        <td>Urbano</td>
        <td><button><a href="/cateurbano">Ver mas</a></button></td>
      </tr>

      <tr class="cuadros">
        <td>Automoviles</td>
        <td><button><a href="/catedeportivo">Ver mas</a></button></td>
      </tr>

      <tr class="cuadros">
        <td>Vans</td>
        <td><button><a href="/catefurgoneta" >Ver mas</a></button></td>
      </tr>

    </tbody> 
  </table>
</section>
  
<!--CIERRE TABLA DE CATEGORIAS-->

<div class="titulo"> <h1>Tipo Automoviles</h1></div>    
<section class="productos">
  <div class="producto">
    <img src="img/automovil1.jpg" alt="Producto 1">
    <h2>Automovil Volkswagen</h2>
    <p>Descripción del automovil 1.</p>
    <p>Precio: $100</p>
    <button><a href="/catedeportivo">Ver mas</a></button>
  </div>
  
  <div class="producto">
    <img src="img/automovil2.jpg" alt="Producto 2">
    <h2>Automovil deportivo BMW</h2>
    <p>Descripción del automovil 2.</p>
    <p>Precio: $80</p>
    <button><a href="/catedeportivo">Ver mas</a></button>
  </div>
  
  <div class="producto">
    <img src="img/automovil5.jpg" alt="Producto 3">
    <h2>Automovil Kia</h2>
    <p>Descripción del automovil 3.</p>
    <p>Precio: $120</p>
    <button><a href="/catedeportivo">Ver mas</a></button>
  </div>
  
  <div class="producto">
    <img src="img/automovil3.jpg" alt="Producto 4">
    <h2>Deportivo Audi</h2>
    <p>Descripción del automovil 4.</p>
    <p>Precio: $90</p>
    <button><a href="/catedeportivo">Ver mas</a></button>
  </div>
</section>

<div class="titulo"> <h1> Tipo Camionetas</h1></div>
<section class="productos">
    <div class="producto">
      <img src="img/camioneta01.jpeg" alt="Producto 1">
      <h2>Camioneta Ultra</h2>
      <p>Camioneta 4*4 </p>
      <p>Precio: $150</p>
      <button><a href="/catecamioneta">Ver mas</a></button>
    </div>
    
    <div class="producto">
      <img src="img/camioneta02.jpg" alt="Producto 2">
      <h2>Camioneta Ford</h2>
      <p>Camioneta todo terreno 4*4 </p>
      <p>Precio: $180</p>
      <button><a href="/catecamioneta">Ver mas</a></button>
    </div>
    
    <div class="producto">
      <img src="img/camioneta03.jpg" alt="Producto 3">
      <h2>Camioneta jeep </h2>
      <p>Clasica, Practica, Elegante.</p>
      <p>Precio: $190</p>
      <button><a href="/catecamioneta">Ver mas</a></button>
    </div>
    
    <div class="producto">
      <img src="img/camioneta04.jpg" alt="Producto 4">
      <h2>Camioneta Sport</h2>
      <p>Descripción de la camioneta  4.</p>
      <p>Precio: $90</p>
      <button><a href="/catecamioneta">Ver mas</a></button>
    </div>
  </section>

  <div class="titulo"> <h1> Tipo Vans</h1></div>
  <section class="productos">
      <div class="producto">
        <img src="img/vans1.jpg" alt="Producto 1">
        <h2>Vans Chevrolet</h2>
        <p>Descripción de la  vans 1.</p>
        <p>Precio: $100</p>
        <button><a href="/catefurgoneta">Ver mas</a></button>
      </div>
  
  <div class="producto">
    <img src="img/vans2.jpg" alt="Producto 2">
    <h2>Vans Nissan</h2>
    <p>Descripción de la vans 2.</p>
    <p>Precio: $80</p>
    <button><a href="/catefurgoneta" >Ver mas</a></button>
  </div>
  
  <div class="producto">
    <img src="img/vans3.jpg" alt="Producto 3">
    <h2>Van Mitsubishi</h2>
    <p>Descripción de la vans 3.</p>
    <p>Precio: $120</p>
    <button><a href="/catefurgoneta" >Ver mas</a></button>
  </div>
  
  <div class="producto">
    <img src="img/vans4.jpg" alt="Producto 4">
    <h2>Vans Mazda</h2>
    <p>Descripción de la vans 4.</p>
    <p>Precio: $90</p>
    <button><a href="/catefurgoneta" >Ver mas</a></button>
  </div>
</section>

</body>

</html>