<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated  cars Website</title>
    <!-- ..................Custom Css Link................... -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/usuario.css">
    <link rel="stylesheet" href="usuario.ejs">
    <!-- ..................FontAwesome Link................... -->
    <link rel="stylesheet" href="./fontawesome-free-6.4.0-web/css/all.css">
   
    

</head>
<body>
        <!-- ..................Start Navbar................... -->
        <nav>
            <div class="container nav-container">
                <a href="" class="logo"><h3>Concessionaire Cars.</h3></a>
                <ul class="nav-link">
                    
                    <li><a href="" style="--i:2;">Acerca de nosotros</a></li>
                    <li><a href="usuario" style="--i:3;">Servicios</a></li>
            
                    <li><a href="" style="--i:5;">Contacto</a></li>
                </ul>
                <ul class="social-link">
                    <li><a href="" style="--i:1;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="" style="--i:2;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="" style="--i:3;"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav>
        <!-- ..................End Navbar................... -->


        <!-- ..................Start Header Section................... -->
        <header>
            <div class="container header-container">
                <div class="header-left">
                    <h1>Experiencia en venta de automóviles.</h1>
                    <h3>Readfinde!</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis est illo <br> nisi  magni ea distinctio ab quibusdam rem qui ex? Quisquam ipsum quaear <br> sint eos alias rem sequi repellendus culpa?
                    </p>
                    <a href="login" class="btn">Iniciar Sesion</a>
                    <a href="usuario" class="btn">Registrar Usuario</a>
                </div>
                <div class="header-right">
                    <div class="sq-box">
                        <img src="img/car.png" alt="">
                    </div>
                </div>
            </div>
            <div class="sq-box2"></div>
        </header>
       
        <!-- ..................End Header Section................... -->
        <div>

</body>


</html>