<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CONCESSIONAIRE </title>  <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <!DOCTYPE html>
<html>

<head>
    <title>Login - CONCESSIONAIRE</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/037379c026.js" ></script>
</head>


    <nav>

        <div class="logo">  <i class="fas fa-car"></i>CONCESSIONAIRE </a>
        </div>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">productos</a></li>
            <li><a href="#">contacto</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="header">
            <h1>Login</h1>
        </div>
        <div id="login" class="main">
            <form action="/login" method="POST">
                <span>
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="Usuario" name="usuario">
                </span><br>
                <span>
                    <i class="fa fa-lock"></i>
                    <input type="password" placeholder="Contraseña" name="password">
                </span><br>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <video autoplay muted loop id="video-background">
        <source src="./video/video.mp4" type="video/mp4">
    </video>
    <div class="capa"></div>
</body>
</html>

